<h1>記事一覧</h1>
<div>
  <%= link_to "新規作成", new_user_article_path(user_id: current_user.id), class: 'btn btn-primary' %>
</div>
<div>
  <% @articles.each do |article| %>
    <div>
      <%= link_to article.title, user_article_path(id: article.id) %>
      <%= link_to "削除", user_article_path(id: article.id), method: :delete,
              data: { confirm: "削除してよろしいですか？" },
              class: "btn btn-danger" %>
      <%= link_to "編集", edit_user_article_path(id: article.id),class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>